@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body{
    height: 100%;
    width: 100%; 
    font-family: 'Roboto' sans-serif;
    color: #222222;
    

}

.navbar{
    padding: .8rem;
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 2 !important;
    letter-spacing: 2px;s
    font-family: "Roboto", sans-serif;

}

.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important; 
}

.carousel-item img{
    opacity: 0.8;
}

.small{
    height: 80px;

}
.carousel-item .img-fluid{
    width: 100%;
}

.social{
    font-size: 1em;
}
.fa-facebook{
    color: #3b5998;
}
.fa-linkedin{
    color: #0077b5;
}
.page-footer{
    background-color: #f4faed;
}
.text-uppercase{
    color: #00843e;
}
.link{
    text-decoration: none;
    color: #00421b;
}
.link:hover{
    text-decoration: none;
    color: #00421b;
}
.text{
    color: #00421b;
}
i{
    font-family: "roboto" sans-serif;
}